<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <package android:name="com.whatsapp" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_tazkeer_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_tazkeer_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tazkeer">

        <activity
            android:name=".SettingsActivity"
            android:exported="false" />

        <activity
            android:name=".CompletedTasksActivity"
            android:exported="false" />

        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.Tazkeer.Starting" />

        <activity
            android:name=".OnboardingActivity"
            android:exported="true"
            android:theme="@style/Theme.Tazkeer.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receivers.NotificationReceiver"
            android:exported="false" />

        <receiver
            android:name=".receivers.BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
